@import url("https://fonts.googleapis.com/css2?family=Cabin&display=swap");
.contain {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 45px;
}
.containForm {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: rgba(5, 5, 5, 0.644);
  gap: 10px;
  border-radius: 15px;
  box-shadow: 0px 0px 10px 0px red;
}
.containForm label {
  font-size: 20px;
  padding-left: 10px;
}

.containForm textarea {
  background-color: rgba(56, 56, 56, 0.849);
  border-radius: 5px;
  color: white;
  font-size: 15px;
}

.containForm input {
  font-weight: 800;
  background-color: rgba(56, 56, 56, 0.849);
  border-radius: 5px;
  height: 1.5rem;
  color: white;
  font-size: 15px;
  font-family: "Cabin", sans-serif;
  letter-spacing: 2px;
}
.containForm input:focus {
  background-color: rgba(233, 13, 13, 0.253);
}
.containForm select {
  background-color: rgba(56, 56, 56, 0.849);
  border-radius: 5px;
  height: 1.5rem;
  color: white;
  font-family: "Cabin", sans-serif;
  letter-spacing: 2px;
  font-weight: 800;
}

.containForm select option {
  font-size: 15px;
}

.containForm select:focus option {
  background-color: rgba(56, 56, 56, 0.849);
}
.containForm select:focus {
  background-color: rgba(255, 0, 0, 0.329);
}

.containForm button {
  background-color: black;
  color: white;
  font-size: 24px;
  letter-spacing: 4px;
  margin: 10px 10px;
  padding: 10px;
  position: relative;
  overflow: hidden;
  transition: 0.5s;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}

.containForm button:nth-child(1) {
  filter: hue-rotate(290deg);
}
.containForm button:nth-child(3) {
  filter: hue-rotate(290deg);
}
.containForm button:hover {
  background: #ac121244;
  box-shadow: 0 0 5px #f4030365, 0 0 25px #c51313, 0 0 50px #a80909,
    0 0 200px #d126199c;
  color: black;
}
.containForm button span {
  display: block;
  position: absolute;
}

.containForm button span:nth-child(1) {
  animation: animate1 2s linear infinite;
  background: linear-gradient(90deg, transparent, #03e9f4);
  height: 2px;
  left: -100px;
  top: 0px;
  width: 100%;
}

@keyframes animate1 {
  0% {
    left: -100%;
  }
  50%,
  100% {
    left: 100%;
  }
}

.containForm button span:nth-child(2) {
  animation: animate2 2s linear infinite;
  animation-delay: 0.5s;
  background: linear-gradient(180deg, transparent, #03e9f4);
  height: 100%;
  top: -100%;
  width: 2px;
  right: 0;
}

@keyframes animate2 {
  0% {
    top: -100%;
  }
  50%,
  100% {
    top: 100%;
  }
}

.containForm button span:nth-child(3) {
  animation: animate3 2s linear infinite;
  animation-delay: 1s;
  background: linear-gradient(180deg, transparent, #03e9f4);
  height: 2px;
  right: -100%;
  width: 100%;
  bottom: 0;
}

@keyframes animate3 {
  0% {
    right: -100%;
  }
  50%,
  100% {
    right: 100%;
  }
}

.containForm button span:nth-child(4) {
  animation: animate4 2s linear infinite;
  animation-delay: 1.5s;
  background: linear-gradient(270deg, transparent, #03e9f4);
  height: 100%;
  left: 0;
  width: 2px;
  bottom: 100%;
}

@keyframes animate4 {
  0% {
    bottom: -100%;
  }
  50%,
  100% {
    bottom: 100%;
  }
}
