.containerProfile {
  padding-top: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.containerCards {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.containerCards div {
  width: 30%;
  text-align: center;
  background-size: 100% 100%;
  height: 300px;
  border-radius: 0 3rem;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}
.containerCards div:hover {
  transform: scale(1.1);
  filter: brightness(1.6);
}
.containerCards div .shadow {
  width: 100%;
  display: flex;
  flex-direction: column;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.185),
    rgba(0, 0, 0, 0.61),
    black
  );
  justify-content: center;
  gap: 10px;
}
.containerCards div .shadow h2 {
  padding-inline: 10px;
}
.containerCards div .shadow span {
  background-color: rgba(70, 70, 70, 0.61);
  font-size: 25px;

  margin-inline: 100px;
  border-radius: 5px;
}
