/* --------------------------------- General ------------------------------- */

.containerCardMini {
  border-radius: 15px;
  background-color: rgb(20, 20, 20);
  overflow: hidden;
  position: relative;
}

/* --------------------------------- Top ------------------------------- */

.top .containerImg {
  width: 100%;
  height: 210px;
}
.top .containerImg img {
  border-radius: 15px 15px 0 0;
  width: 100%;
  height: 210px;
  object-fit: cover;
}

.top .detail {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.top .detail .coninerIcon {
  display: flex;
  width: 100%;
  gap: 8px;
  font-size: 15px;
}

.top .detail .coninerName {
  display: flex;
  width: 100%;

  white-space: pre-wrap;
}

.top .detail .coninerName h2 {
  font-size: 1.5rem;
  line-height: 28px;
}

.top .detail .containerBtn {
  display: flex;
  justify-content: start;
}

.top .detail .containerBtn .btnFav {
  border: none;
  border-radius: 10px;
  font-weight: 700;
  background-color: rgb(90, 90, 90);
  color: white;
  font-size: 15px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.top .detail .containerBtn .btnFavText {
  position: absolute;
  opacity: 0;
  border-radius: 10px;
  width: 160px;
  color: white;
  background-color: rgb(17, 9, 244);
  font-size: 20px;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.top .detail .containerBtn .btnFav::before {
  position: absolute;
  content: '';
  height: 8px;
  width: 8px;
  background-color: blue;
  left: 100%;
  opacity: 0;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.top .detail .containerBtn .btnFav:hover::before {
  opacity: 1;
}
.top .detail .containerBtn .btnFav:hover .btnFavText {
  left: 100%;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

/* --------------------------------- Bottom ------------------------------- */

.top:hover .containerDetail {
  opacity: 1;
  height: auto;
}

/* ------ detail -------- */

.containerDetail {
  opacity: 0;
  height: 0;
  transition: opacity 0.3s ease, height 0.3s ease;
}

.containerDetail > ul {
  margin: 0;
  padding: 0;
}

.containerDetail > ul > li {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding-left: 10px;
  list-style: none;
  border-bottom: 1px solid rgba(214, 214, 214, 0.699);
}

.containerDetail > ul > li > p {
  opacity: 0.5;
  margin: 0;
  padding-block: 10px;
  margin-right: 15px;
}

.containerDetail > ul > li > span {
  display: flex;
  padding-block: 5px;
  align-items: center;
  padding-right: 15px;
  text-align: right;
}

.containerDetail .containerBtnShow {
  display: flex;
  justify-content: center;
}

.containerDetail .containerBtnShow .btmSow {
  background-color: rgb(49, 49, 49);
  border-radius: 5px;
  margin-block: 15px;
  display: flex;
  justify-content: space-between;
  letter-spacing: 5px;
  width: 70%;
  padding-inline: 5px;
}

.containerDetail .containerBtnShow .btmSow > button {
  white-space: nowrap;
  font-size: 25px;
  color: white;
  border: none;
  background-color: transparent;
}

.containerDetail .containerBtnShow .btmSow > button:hover {
  color: rgb(155, 134, 19);
}

.containerDetail .containerBtnShow .btmSow > span {
  display: flex;
  align-items: center;
  color: white;
  opacity: 0.5;
}
