.container {
  display: flex;
  width: 100%;
  justify-content: center;
  padding-top: 70px;
}
.container form {
  width: 25%;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: rgba(3, 3, 3, 0.644);
  gap: 20px;
  border-radius: 15px;
  box-shadow: 0px 0px 10px 0px red;
  text-align: center;
}

.container form h2 {
  font-size: 30px;
  text-align: start;
  padding-left: 20px;
}

.container form input {
  width: 100%;
  font-weight: 800;
  background-color: rgba(56, 56, 56, 0.849);
  border-radius: 5px;
  height: 3rem;
  color: white;
  font-size: 15px;
  font-family: 'Cabin', sans-serif;
  letter-spacing: 2px;
  border: none;
  margin-block: 10px;
}

.container input:focus {
  background-color: rgba(233, 13, 13, 0.253);
}
.container p {
  color: #a80909;
}
.container a {
  color: white;
  margin-top: 1rem;
}
.container button {
  background-color: black;
  color: white;
  font-size: 24px;
  letter-spacing: 4px;
  margin: 10px 10px;
  padding: 10px;
  position: relative;
  overflow: hidden;
  transition: 0.5s;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}

.container button:nth-child(1) {
  filter: hue-rotate(290deg);
}
.container button:nth-child(3) {
  filter: hue-rotate(290deg);
}
.container button:hover {
  background: #ac121244;
  box-shadow: 0 0 5px #f4030365, 0 0 25px #c51313, 0 0 50px #a80909,
    0 0 200px #d126199c;
  color: black;
}
.container button span {
  display: block;
  position: absolute;
}

.container button span:nth-child(1) {
  animation: animate1 2s linear infinite;
  background: linear-gradient(90deg, transparent, #f40303);
  height: 2px;
  left: -100px;
  top: 0px;
  width: 100%;
}

@keyframes animate1 {
  0% {
    left: -100%;
  }
  50%,
  100% {
    left: 100%;
  }
}

.container button span:nth-child(2) {
  animation: animate2 2s linear infinite;
  animation-delay: 0.5s;
  background: linear-gradient(180deg, transparent, #90f403);
  height: 100%;
  top: -100%;
  width: 2px;
  right: 0;
}

@keyframes animate2 {
  0% {
    top: -100%;
  }
  50%,
  100% {
    top: 100%;
  }
}

.container button span:nth-child(3) {
  animation: animate3 2s linear infinite;
  animation-delay: 1s;
  background: linear-gradient(180deg, transparent, #03f4e0);
  height: 2px;
  right: -100%;
  width: 100%;
  bottom: 0;
}

@keyframes animate3 {
  0% {
    right: -100%;
  }
  50%,
  100% {
    right: 100%;
  }
}

.container button span:nth-child(4) {
  animation: animate4 2s linear infinite;
  animation-delay: 1.5s;
  background: linear-gradient(270deg, transparent, #7b03f4);
  height: 100%;
  left: 0;
  width: 2px;
  bottom: 100%;
}

@keyframes animate4 {
  0% {
    bottom: -100%;
  }
  50%,
  100% {
    bottom: 100%;
  }
}
